<h1>User info</h1>
  <p><%= attachment_image_tag profile_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>name：<%=@user.name%></p>
  <p>introduction：<%@user.Introduction%></p>
  <p><%= link_to edit_user_path(@user) %>
  <i class="fas fa-user-cog"></i>
  </p>

<%= paginate @Profile_images %>

<%= form_with model:@book,local:true do |f| %>
 <div class = 'New-book'>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opnion %>

  <%= f.submit 'Create Book', class: "button" %>
  </div>
  
<% end %>